* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Montserrat", sans-serif;
}

.btn {
  width: 250px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  background-color: #a1af82;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #97a578;
}
